.app-container{
  
  padding-top: 160px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  min-height: 80vh;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  margin-bottom: 70px;

}

.content {
  padding: 10px;
  flex: 1;
  /* ⭐ ye main ko dynamic bana deta hai */
}
@media (max-width:1100px) {
  .all-content{
    padding-top: 200px;
  padding-bottom: 0;
  }
  
}

@media (max-width:768px) {
  .all-content{
    padding-top: 370px;
  padding-bottom: 0;
  }
  
}
